<div class="case-study row" id="{{id}}">
	<div class="col-xs-12 col-lg-3">
		<h3 class="block-heading case-study__heading">{{title}}</h3>
		<p class="case-study__date no-margin">{{date}}</p>
		<p class="case-study__company no-margin">@ {{company}}</p>
	</div>
	<div class="case-study__content col-sm-8 col-lg-5">
		{{{description}}}
	</div>
	<div class="case-study__image col-sm-4 col-lg-4">
		<img src="./images/{{image}}" alt="{{imageAlt}}" class="responsive">
	</div>
</div>